/* ==========================================================================
   contact-heading / components
   ========================================================================== */

.contact-heading {
    padding: 80px 0;

    .text-scroll {
        --gap: 62px;

        font-family: var(--font-secondary);
        font-size: var(--font-size-h1-pc-contact);
        overflow: hidden;
        user-select: none;
        display: flex;
        gap: var(--gap);

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-shrink: 0;
            min-width: 100%;
            animation: scroll 25s linear infinite;
        }

        &:hover ul {
            animation-play-state: paused;
        }
    }

    @keyframes scroll {
        to {
            transform: translateX(calc(-100% - var(--gap)));
        }
    }
}

/*
   Medium-large
   ========================================================================== */

@media screen and (max-width: $breakpoint-ml) {
    .contact-heading {
        padding: 40px 0 20px;

        .text-scroll {
            --gap: 31px;

            font-size: var(--font-size-h1-tablet-contact);
        }
    }
}

/*
   Medium
   ========================================================================== */

@media screen and (max-width: $breakpoint-md) {
    .contact-heading {
        padding: 30px 0 20px;

        .text-scroll {
            --gap: 15.5px;

            font-size: 10rem;
        }
    }
}

/*
   Small
   ========================================================================== */

@media screen and (max-width: $breakpoint-sm) {
    .contact-heading {
        padding: 30px 0;

        .text-scroll {
            --gap: 10.25px;

            font-size: 7.5rem;
        }
    }
}

/*
   Xtra-small
   ========================================================================== */

@media screen and (max-width: $breakpoint-xs) {
    .contact-heading {
        padding: 30px 0 20px;

        .text-scroll {
            --gap: 7.75px;

            font-size: var(--font-size-h1-mobile-contact);
        }
    }
}
