/* ==========================================================================
   form / component
   ========================================================================== */

.form {
    --input-padding: 0.5em;
    max-width: 60%;
    margin: 0 auto;

    h2 {
        font-size: var(--font-size-h2-pc-contact);
        font-weight: 300;
        text-align: center;
    }

    .instructions {
        margin: 0 0 30px;
        text-align: center;
        font-weight: 400;
        font-size: 2.4rem;
    }

    fieldset {
        border: none;
        padding: 0;
    }

    .grid {
        display: grid;
        grid-row-gap: 30px;
        grid-column-gap: 25px;
        grid-template-columns: 1fr 1fr;
    }
}

.form__fieldsets {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form__footer {
    display: flex;
    justify-content: center;
    padding: 50px 0 150px;

    .btn__submit {
        background: transparent;
        color: var(--color-black);

        &:hover {
            color: var(--color-white);
        }

        &:focus {
            color: var(--color-white);

            &::before {
                transform: scale(1.01, 1.02);
            }
        }
    }
}

.form__body {
    .is-sent & {
        display: none;
    }
}

.form__confirmation {
    text-align: center;
    padding-bottom: 300px;
    display: none;

    p {
        margin: 20px 0 0;
    }

    .is-sent & {
        display: block;
    }
}

/*
   input
   ========================================================================== */

.input__label {
    display: block;
    font-size: 2.4rem;
    font-weight: 400;
    padding-bottom: 5px;
}

.input__element {
    background-color: var(--color-white);
    border: solid 2px var(--color-black);
    cursor: pointer;
    font-family: inherit;
    font-size: 2.4rem;
    outline: none;
    padding: var(--input-padding);
    width: 100%;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        z-index: 10;
        background-color: tomato;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:active {
        -webkit-box-shadow: inset 0 0 0 30px var(--color-white) !important;
        -webkit-text-fill-color: inherit !important;
    }

    &:hover,
    + .input__label:hover::before {
        background-color: rgba(32, 32, 32, 0.1);
    }

    &:focus,
    &:-webkit-autofill:focus,
    &:focus + .input__label:hover::before {
        background-color: var(--color-white);
        box-shadow: 0 2px 4px rgba(32, 32, 32, 0.1);
        -webkit-box-shadow: inset 0 0 0 30px var(--color-white) !important;
    }
}

/*
   textarea
   ========================================================================== */

.textarea {
    .input__element {
        resize: vertical;
        height: 180px;
    }
}

/*
   error
   ========================================================================== */

.error {
    .input__element {
        // box-shadow: inset 0 0 0 2px var(--color-error);
        border-color: var(--color-error);
    }
}
