/* ==========================================================================
   modal / components
   ========================================================================== */

.modal {
    --bar-height: 8px;
    --bar-width: 64px;

    background: var(--color-white);
    color: var(--color-black);
    border: 6px solid var(--color-black);
    padding: 30px;
    overflow: visible;
    overscroll-behavior: contain;

    figure {
        height: 100% !important;
        width: 100% !important;

        .content-img {
            height: 100% !important;
            width: 100% !important;

            img,
            video {
                object-fit: cover;
                height: 100% !important;
                width: 100% !important;
                max-height: 700px;

                &:hover {
                    transform: scale(1, 1);
                    cursor: default;
                }
            }
        }

        figcaption {
            padding-top: 10px;
            font-weight: 600;
            font-size: var(--font-size-content-pc);
            color: var(--color-black);
        }
    }

    button.btn-close {
        position: absolute;
        top: 0;
        right: -80px;
        width: var(--bar-width);
        height: var(--bar-width);
        z-index: 10;
        background: transparent;
        border: none;
        cursor: pointer;

        span {
            background: var(--color-white);
            height: var(--bar-height);
            width: 100%;
            position: absolute;
            top: calc(50% - var(--bar-height) / 2);
            left: calc(50% - var(--bar-width) / 2);

            &:nth-child(1) {
                transform: rotate(45deg);
            }

            &:nth-child(2) {
                transform: rotate(-45deg);
            }
        }

        &:focus {
            border: none;
        }
    }
}

.modal::backdrop {
    background: rgba($color: #202020, $alpha: 0.75);
}

.modal-is-active {
    body {
        overflow: hidden;
    }
}

/*
   Medium-large
   ========================================================================== */

@media screen and (max-width: $breakpoint-ml) {
    .modal {
        --bar-height: 6px;
        --bar-width: 48px;

        figure {
            figcaption {
                font-size: 3rem;
            }
        }

        button.btn-close {
            right: -60px;
        }
    }
}

/*
   1150px
   ========================================================================== */

@media screen and (max-width: 1150px) {
    .modal {
        figure {
            figcaption {
                font-size: 2.8rem;
            }
        }
    }
}

/*
   Medium
   ========================================================================== */

@media screen and (max-width: $breakpoint-md) {
    .modal {
        figure {
            figcaption {
                font-size: 2.4rem;
            }
        }
    }
}

/*
   900px
   ========================================================================== */

@media screen and (max-width: 900px) {
    .modal {
        figure {
            figcaption {
                font-size: 2rem;
            }
        }
    }
}

/*
   Small
   ========================================================================== */

@media screen and (max-width: $breakpoint-sm) {
    .modal {
        padding: 20px;

        figure {
            figcaption {
                padding-top: 8px;
                font-size: 1.55rem;
            }
        }
    }
}

/*
   600px
   ========================================================================== */

@media screen and (max-width: 600px) {
    .modal {
        --bar-height: 4px;
        --bar-width: 36px;

        padding: 15px;

        figure {
            figcaption {
                font-size: 1.8rem;
            }
        }

        button.btn-close {
            right: -50px;
        }
    }
}

/*
   Xtra-small
   ========================================================================== */

@media screen and (max-width: $breakpoint-xs) {
    .modal {
        padding: 10px;

        figure {
            figcaption {
                padding-top: 5px;
                font-size: 1.6rem;
            }
        }
    }
}
