/* ==========================================================================
   projects / components
   ========================================================================== */

.projects {
    padding: 100px 0 150px;

    h1 {
        font-family: var(--font-primary);
        font-size: var(--font-size-h1-pc-projects);
        font-weight: 300;
        text-transform: uppercase;
        padding: 0 0 70px;
    }

    .cards-projects {
        display: flex;
        flex-direction: column;
        gap: 70px;
        list-style: none;
        margin: 0;
        padding: 0;

        .card-left,
        .card-right {
            display: flex;
        }

        .card-left {
            justify-content: flex-start;
        }

        .card-right {
            justify-content: flex-end;
        }

        .card-project {
            display: block;
            position: relative;
            border: 6px solid var(--color-black);
            padding: 20px;
            width: 1100px;
            height: 550px;
            color: var(--color-white);
            overflow: hidden;
            transition: all 0.5s $ease-out-expo;

            .card-content__container {
                overflow: hidden;
                height: 100%;
                width: 100%;
                position: relative;
            }

            a {
                color: var(--color-white);
            }

            .project-thumbnail {
                display: block;
                height: 100%;
                width: 100%;
            }

            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
                -webkit-filter: grayscale(100%);
                -moz-filter: grayscale(100%);
                filter: grayscale(100%);
                transition: all 0.5s $ease-out-expo;
            }

            .img-piege {
                object-position: 0% 30%;
            }

            .card-project__content {
                position: absolute;
                bottom: 20px;
                padding: 30px 40px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                background: var(--color-black);
                transform: translateY(72.5%);
                transition: all 0.5s $ease-out-expo;

                h2 {
                    font-size: var(--font-size-h2-pc-projects);
                }

                .card-project__info {
                    flex-direction: column;
                    display: flex;
                    gap: 30px;
                    opacity: 0;
                    transition: all 0.5s $ease-out-expo;

                    .card__info-row {
                        display: flex;
                        align-items: center;
                        gap: 20px;

                        p {
                            margin: 0;
                            font-size: 2.8rem;
                            padding-right: 20px;
                            position: relative;

                            &::after {
                                content: '';
                                display: block;
                                position: absolute;
                                right: 0;
                                top: 0;
                                height: 100%;
                                width: 2px;
                                background: var(--color-white);
                            }
                        }

                        .card__icon-list {
                            display: flex;
                            gap: 15px;
                            align-items: center;
                        }
                    }

                    .btn-sm {
                        border-color: var(--color-white);
                        z-index: 1;
                        max-width: fit-content;

                        &::before {
                            background: var(--color-white);
                            z-index: -1;
                        }

                        &:hover {
                            color: var(--color-black);
                        }
                    }
                }
            }

            .card-content-left {
                left: 0;
                text-align: left;
            }

            .card-content-right {
                right: 0;
                text-align: right;
            }

            .flex-start {
                justify-content: flex-start;
                align-items: flex-start;
            }

            .flex-end {
                justify-content: flex-end;
                align-items: flex-end;
            }

            /*
               HOVER
               ========================================================================== */

            &:hover {
                padding: 0;

                img {
                    -webkit-filter: grayscale(0%);
                    -moz-filter: grayscale(0%);
                    filter: grayscale(0%);
                }

                .card-project__content {
                    bottom: 0;
                    background: rgba(32, 32, 32, 0.5);
                    transform: translateY(0);

                    .card-project__info {
                        display: flex;
                        opacity: 1;
                    }
                }

                .card-content-left {
                    left: 0;
                    padding: 30px 40px 34px 24px;
                }

                .card-content-right {
                    right: 0;
                    padding: 24px 34px 40px 30px;
                }
            }
        }
    }
}

/*
   Medium-large
   ========================================================================== */
@media screen and (max-width: $breakpoint-ml) {
    .projects {
        .cards-projects {
            .card-left,
            .card-right {
                justify-content: center;
            }
        }
    }
}

/*
   1200px
   ========================================================================== */
@media screen and (max-width: 1200px) {
    .projects {
        padding: 80px 0 100px;

        h1 {
            font-size: 6.4rem;
            padding: 0 0 50px;
        }

        .cards-projects {
            gap: 60px;

            .card-project {
                .card-project__content {
                    h2 {
                        font-size: 2.6rem;
                    }
                }
            }
        }
    }
}

/*
   1100px
   ========================================================================== */
@media screen and (max-width: 1100px) {
    .projects {
        .cards-projects {
            .card-project {
                padding: 0;

                img {
                    -webkit-filter: grayscale(0%);
                    -moz-filter: grayscale(0%);
                    filter: grayscale(0%);
                }

                .card-project__content {
                    background: rgba(32, 32, 32, 0.6);
                    bottom: 0;
                    padding: 20px 30px;
                    gap: 15px;
                    transform: translateY(0%);

                    h2 {
                        font-size: var(--font-size-h2-mobile-projects);
                    }

                    .card-project__info {
                        gap: 20px;
                        opacity: 1;

                        .card__info-row {
                            gap: 15px;

                            p {
                                font-size: 2.4rem;
                                padding-right: 15px;
                            }
                        }

                        .btn-sm {
                            padding: 15px 20px;
                            font-size: 2rem;
                        }
                    }
                }

                &:hover {
                    .card-project__content {
                        background: rgba(32, 32, 32, 0.6);

                        .card-project__info {
                            display: flex;
                            opacity: 1;
                        }
                    }

                    .card-content-left {
                        left: 0;
                        padding: 20px 30px;
                    }

                    .card-content-right {
                        right: 0;
                        padding: 20px 30px;
                    }
                }
            }
        }
    }
}

/*
   Medium
   ========================================================================== */
@media screen and (max-width: $breakpoint-md) {
    .projects {
        padding: 60px 0 100px;

        h1 {
            font-size: 4.8rem;
            padding: 0 0 40px;
        }
    }
}

/*
   Small
   ========================================================================== */
@media screen and (max-width: $breakpoint-sm) {
    .projects {
        .cards-projects {
            gap: 50px;

            .card-project {
                padding: 10px;
                height: fit-content;

                .card-content__container {
                    display: flex;
                    flex-direction: column;
                }

                .project-thumbnail {
                    height: 100%;
                }

                img {
                    max-height: 400px;
                    display: block;
                }

                .card-project__content {
                    background: var(--color-black);
                    position: relative;

                    h2 {
                        font-size: 2.4rem;
                    }

                    .card-project__info {
                        .card__info-row {
                            p {
                                font-size: 2rem;
                            }

                            svg {
                                font-size: 2.8rem;
                            }
                        }
                    }
                }

                .card-content-left,
                .card-content-right {
                    position: relative;
                    text-align: center;
                }

                .flex-start,
                .flex-end {
                    justify-content: center;
                    align-items: center;
                }

                &:hover {
                    padding: 10px;

                    .card-project__content {
                        background: var(--color-black);
                    }
                }
            }
        }
    }
}

/*
   600px
   ========================================================================== */
@media screen and (max-width: 600px) {
    .projects {
        .cards-projects {
            .card-project {
                img {
                    height: 300px;
                }

                .card-project__content {
                    h2 {
                        font-size: 2rem;
                    }

                    .card-project__info {
                        .card__info-row {
                            .card__icon-list {
                                gap: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*
   Xtra-small
   ========================================================================== */
@media screen and (max-width: $breakpoint-xs) {
    .projects {
        h1 {
            text-align: center;
        }

        .cards-projects {
            .card-project {
                .card-project__content {
                    padding: 15px 20px;

                    .card-project__info {
                        .card__info-row {
                            gap: 10px;

                            p {
                                font-size: var(--font-size-content-mobile);
                                padding-right: 10px;
                            }

                            svg {
                                font-size: 2.4rem;
                            }

                            .card__icon-list {
                                gap: 8px;
                            }
                        }

                        .btn-sm {
                            font-size: var(--font-size-content-mobile);
                        }
                    }
                }

                &:hover {
                    .card-content-left,
                    .card-content-right {
                        padding: 15px 20px;
                    }
                }
            }
        }
    }
}

/*
   400px
   ========================================================================== */
@media screen and (max-width: 400px) {
    .projects {
        h1 {
            font-size: 4.2rem;
        }

        .cards-projects {
            .card-project {
                .card-project__content {
                    padding: 15px 15px;

                    .card-project__info {
                        .card__info-row {
                            gap: 10px;

                            p {
                                font-size: var(--font-size-content-mobile);
                                padding-right: 10px;
                            }

                            svg {
                                font-size: 2.2rem;
                            }
                        }
                    }
                }

                &:hover {
                    .card-content-left,
                    .card-content-right {
                        padding: 15px 15px;
                    }
                }
            }
        }
    }
}
