/* ==========================================================================
   skills / components
   ========================================================================== */

.skills {
    h2 {
        font-size: var(--font-size-h2-pc-about);
        padding-bottom: 50px;
    }

    .card {
        border: 6px solid var(--color-black);
        height: 300px;
        padding: 15px;
        transition: all 0.4s ease-in-out;

        .card-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 100%;

            p {
                font-size: 3rem;
                margin: 0;
                color: var(--color-white);
                opacity: 0;
                transition: all 0.4s ease-in-out;
            }

            svg {
                transition: all 0.4s ease-in-out;
            }
        }

        &:hover {
            background: var(--color-black);

            .card-content {
                p {
                    opacity: 1;
                }

                svg {
                    color: var(--color-white);
                    fill: var(--color-white);
                }
            }
        }
    }
}

/*
   Xtra-small
   ========================================================================== */

@media screen and (max-width: $breakpoint-xs) {
    .skills {
        h2 {
            font-size: var(--font-size-h2-mobile-about) !important;
        }
    }
}

/*
   600px
   ========================================================================== */

@media screen and (max-width: 600px) {
    .skills {
        h2 {
            text-align: center;
        }
    }
}

/*
   Small
   ========================================================================== */

@media screen and (max-width: $breakpoint-sm) {
    .skills {
        h2 {
            font-size: var(--font-size-h2-tablet-about);
            padding-bottom: 40px;
        }
    }
}

/*
   450px
   ========================================================================== */

@media screen and (max-width: 450px) {
    .skills {
        .card {
            .card-content {
                p {
                    font-size: 2.6rem;
                }
            }
        }
    }
}
