/* ==========================================================================
   swiper / components
   ========================================================================== */

.swiper {
    .swiper-button-prev,
    .swiper-button-next {
        color: var(--color-black);
        background: var(--color-white);
        border: 3px solid var(--color-black);
        padding: 30px 30px;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            height: 100%;
            width: 100%;
            translate: -50% -50%;
            background: var(--color-black);
            transform: scale(0);
            transition: 0.3s all;
            z-index: -1;
        }

        &:hover {
            color: var(--color-white);

            &::before {
                transform: scale(1.01, 1.02);
            }
        }
    }
}

/*
   Small
   ========================================================================== */

@media screen and (max-width: $breakpoint-sm) {
    .swiper {
        .swiper-button-prev,
        .swiper-button-next {
            border: 2px solid var(--color-black);
            padding: 20px 20px;

            &::after {
                font-size: 22px;
            }
        }
    }
}
