/* ==========================================================================
   HEADINGS / ELEMENT
   ========================================================================== */

h1,
h2,
h3 {
    margin: 0;
}

h2,
h3 {
    font-family: var(--font-primary);
    font-weight: 600;
}

h1 {
    font-family: var(--font-secondary);
}
