/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fafafa;
    --color-black: #202020;

    --color-error: #fc2323;
}
