/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;

    // Couleurs du projet
    --color-light-primary: #f6f7f9;
    --color-light-secondary: #d1d2d4;

    --color-dark-primary: #0f1011;

    --color-blue-light: #08347a;
    --color-blue-dark: #0f1e4a;

    --color-green-light: #2a9134;
    --color-green-dark: #137547;

    --color-error: #ed3434;

    --color-facebook: #4267b2;
    --color-youtube: #ff0000;
}
