/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
:root {
    /// Font family

    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Vonique 64', sans-serif;

    /// Grosseur des textes

    /// Mobile
    --font-size-content-tablet: 1.8rem;

    --font-size-h1-tablet-home: 5rem;
    --font-size-h2-tablet-home: 1.8rem;

    --font-size-h1-tablet-projects: 4.8rem;
    --font-size-h2-tablet-projects: 2rem;

    --font-size-h1-tablet-project: 2rem;
    --font-size-h2-tablet-project: 2rem;

    --font-size-h1-tablet-about: 5rem;
    --font-size-h2-tablet-about: 2.4rem;
    --font-size-h3-tablet-about: 2.8rem;

    --font-size-h1-tablet-contact: 5rem;
    --font-size-h2-tablet-contact: 4.8rem;

    /// Tablette
    --font-size-content-tablet: 3.2rem;

    --font-size-h1-tablet-home: 15rem;
    --font-size-h2-tablet-home: 4rem;

    --font-size-h1-tablet-projects: 8.4rem;
    --font-size-h2-tablet-projects: 2.8rem;

    --font-size-h1-tablet-project: 4rem;
    --font-size-h2-tablet-project: 3.6rem;

    --font-size-h1-tablet-about: 15rem;
    --font-size-h2-tablet-about: 4.8rem;
    --font-size-h3-tablet-about: 3.6rem;

    --font-size-h1-tablet-contact: 15rem;
    --font-size-h2-tablet-contact: 9.6rem;

    /// PC
    --font-size-content-pc: 3.8rem;

    --font-size-h1-pc-home: 20rem;
    --font-size-h2-pc-home: 5rem;

    --font-size-h1-pc-projects: 8.4rem;
    --font-size-h2-pc-projects: 2.8rem;

    --font-size-h1-pc-project: 5.6rem;
    --font-size-h2-pc-project: 4.8rem;

    --font-size-h1-pc-about: 20rem;
    --font-size-h2-pc-about: 4.8rem;
    --font-size-h3-pc-about: 3.6rem;

    --font-size-h1-pc-contact: 20rem;
    --font-size-h2-pc-contact: 9.6rem;
}
