{% include '_partials/_header.html' %}

<section class="about">
    <div class="wrapper">
        <div class="about-content">
            <div class="about-text">
                <h1 data-scrolly="fromTop">Salut!</h1>
                <div class="about-paragraphs">
                    <p data-scrolly="fromLeft">
                        Moi c’est Guillaume,
                        <strong>développeur créatif junior</strong>
                        de 21 ans. Je suis autant
                        <strong>créatif</strong>
                        que
                        <strong>logique</strong>
                        dans mon approche face à mes projets. Je suis une personne
                        <strong>facile à aborder</strong>
                        et
                        <strong>extrovertie.</strong>
                    </p>
                    <p data-scrolly="fromBottom">
                        Je termine présentement des études en
                        <strong>intégration multimédia</strong>
                        au cégep
                        <strong>Édouard-Montpetit.</strong>
                        Je prévois poursuivre mes études à
                        <strong>l’université</strong>
                        en
                        <strong>création de jeux vidéo.</strong>
                    </p>
                </div>
            </div>

            <div class="about-img" data-scrolly="fromRight">
                <div class="img-border"></div>
                <img src="assets/images/guillaume_langlois.png" alt="Image de Guillaume Langlois" />
            </div>
        </div>
    </div>
</section>

<section class="skills">
    <div class="wrapper">
        <h2 data-scrolly="fromBottom">Mes compétences</h2>
    </div>

    <div class="swiper cards" data-component="Carousel" data-scrolly="fromBottom">
        <div class="swiper-wrapper">
            <div class="swiper-slide card">
                <div class="card-content">
                    <p class="skill">Unity</p>
                    <svg class="icon icon--vlg">
                        <use xlink:href="#icon-unity"></use>
                    </svg>
                    <p class="note">7/10</p>
                </div>
            </div>

            <div class="swiper-slide card">
                <div class="card-content">
                    <p class="skill">Godot</p>
                    <svg class="icon icon--vlg">
                        <use xlink:href="#icon-godot"></use>
                    </svg>
                    <p class="note">5/10</p>
                </div>
            </div>

            <div class="swiper-slide card">
                <div class="card-content">
                    <p class="skill">Blender</p>
                    <svg class="icon icon--vlg">
                        <use xlink:href="#icon-blender"></use>
                    </svg>
                    <p class="note">7/10</p>
                </div>
            </div>

            <div class="swiper-slide card">
                <div class="card-content">
                    <p class="skill">HTML</p>
                    <svg class="icon icon--vlg">
                        <use xlink:href="#icon-html"></use>
                    </svg>
                    <p class="note">9/10</p>
                </div>
            </div>

            <div class="swiper-slide card">
                <div class="card-content">
                    <p class="skill">CSS</p>
                    <svg class="icon icon--vlg">
                        <use xlink:href="#icon-css"></use>
                    </svg>
                    <p class="note">8/10</p>
                </div>
            </div>

            <div class="swiper-slide card">
                <div class="card-content">
                    <p class="skill">JavaScript</p>
                    <svg class="icon icon--vlg">
                        <use xlink:href="#icon-javascript"></use>
                    </svg>
                    <p class="note">7/10</p>
                </div>
            </div>

            <div class="swiper-slide card">
                <div class="card-content">
                    <p class="skill">PHP</p>
                    <svg class="icon icon--vlg">
                        <use xlink:href="#icon-php"></use>
                    </svg>
                    <p class="note">6/10</p>
                </div>
            </div>

            <div class="swiper-slide card">
                <div class="card-content">
                    <p class="skill">Wordpress</p>
                    <svg class="icon icon--vlg">
                        <use xlink:href="#icon-wordpress"></use>
                    </svg>
                    <p class="note">6/10</p>
                </div>
            </div>

            <div class="swiper-slide card">
                <div class="card-content">
                    <p class="skill">TouchDesigner</p>
                    <svg class="icon icon--vlg">
                        <use xlink:href="#icon-touchdesigner"></use>
                    </svg>
                    <p class="note">7/10</p>
                </div>
            </div>

            <div class="swiper-slide card">
                <div class="card-content">
                    <p class="skill">Figma</p>
                    <svg class="icon icon--vlg">
                        <use xlink:href="#icon-figma"></use>
                    </svg>
                    <p class="note">8/10</p>
                </div>
            </div>

            <div class="swiper-slide card">
                <div class="card-content">
                    <p class="skill">Adobe Illustrator</p>
                    <svg class="icon icon--vlg">
                        <use xlink:href="#icon-illustrator"></use>
                    </svg>
                    <p class="note">7/10</p>
                </div>
            </div>

            <div class="swiper-slide card">
                <div class="card-content">
                    <p class="skill">Adobe Photoshop</p>
                    <svg class="icon icon--vlg">
                        <use xlink:href="#icon-photoshop"></use>
                    </svg>
                    <p class="note">7/10</p>
                </div>
            </div>

            <div class="swiper-slide card">
                <div class="card-content">
                    <p class="skill">Adobe Premiere Pro</p>
                    <svg class="icon icon--vlg">
                        <use xlink:href="#icon-premiere"></use>
                    </svg>
                    <p class="note">8/10</p>
                </div>
            </div>

            <div class="swiper-slide card">
                <div class="card-content">
                    <p class="skill">Adobe After Effects</p>
                    <svg class="icon icon--vlg">
                        <use xlink:href="#icon-aftereffects"></use>
                    </svg>
                    <p class="note">6/10</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hobbies">
    <div class="wrapper">
        <h2 data-scrolly="fromBottom">Mes loisirs</h2>

        <ul class="cards" data-scrolly="fromBottom">
            <li class="card">
                <div class="card-content">
                    <div class="card-img">
                        <img src="assets/images/jeu-video.jpg" alt="Image de manettes de jeu vidéo" />
                    </div>

                    <h3 class="hobby-game">Jeu vidéo</h3>
                </div>

                <div class="card-hover">
                    <p>
                        De la création de jeu sur Unity ou Godot jusqu’à simplement m’amuser en jouant, le monde du jeu vidéo occupe une partie intégrale de
                        <br />
                        ma vie.
                    </p>
                </div>
            </li>

            <li class="card">
                <div class="card-content">
                    <div class="card-img">
                        <img src="assets/images/musique.jpg" alt="Image de table de DJ" />
                    </div>

                    <h3 class="hobby-music">Musique</h3>
                </div>

                <div class="card-hover">
                    <p>
                        Dès que je m’installe pour travailler, que j’ai une longue route à faire ou même en jouant à des jeux vidéo, j’écoute de la musique.
                        Toutes les occasions sont bonnes pour écouter de
                        <br />
                        la musique.
                    </p>
                </div>
            </li>

            <li class="card">
                <div class="card-content">
                    <div class="card-img">
                        <img src="assets/images/cinema.jpg" alt="Image d'une salle de cinéma" />
                    </div>

                    <h3 class="hobby-cinema">Cinéma</h3>
                </div>

                <div class="card-hover">
                    <p>
                        Je ne suis pas le plus grand
                        <em>nerd</em>
                        de films, mais j’adore les bonnes histoires, les bons dialogues et
                        <br />
                        les bonnes adaptations.
                    </p>
                </div>
            </li>

            <li class="card">
                <div class="card-content">
                    <div class="card-img">
                        <img src="assets/images/mode.jpg" alt="Image d'un homme bien habillé" />
                    </div>

                    <h3 class="hobby-fashion">Mode</h3>
                </div>

                <div class="card-hover">
                    <p>
                        J’aime beaucoup m’habiller différemment des autres. J’aime voir tout ce que les designers de mode peuvent faire avec de simples morceaux
                        de tissus.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>

<section class="qualities">
    <div class="wrapper">
        <h2 data-scrolly="fromBottom">Mes qualités</h2>
    </div>

    <div class="swiper cards" data-component="Carousel" data-variant="split-3" data-scrolly="fromBottom">
        <div class="swiper-wrapper">
            <div class="swiper-slide card">
                <div class="card-content card-thoroughness">
                    <div class="card-heading">
                        <h3>Minutie</h3>
                    </div>

                    <div class="card-text">
                        <p>
                            Dans tous mes projets, je fais preuve de beaucoup de minutie. Je fais toujours attention aux détails, car la moindre petite chose
                            mal placée m’énerve.
                        </p>
                    </div>
                </div>
            </div>

            <div class="swiper-slide card">
                <div class="card-content card-teamwork">
                    <div class="card-heading">
                        <h3>Travail d’équipe</h3>
                    </div>

                    <div class="card-text">
                        <p>
                            Les travaux d’équipe me motivent à travailler encore plus fort. Je sais suivre les instructions demandées, tout en y apportant ma
                            touche personnelle et ma créativité. J’ai une facilité et même une tendance à aider les autres.
                        </p>
                    </div>
                </div>
            </div>

            <div class="swiper-slide card">
                <div class="card-content card-sociability">
                    <div class="card-heading">
                        <h3>Sociabilité</h3>
                    </div>

                    <div class="card-text">
                        <p>
                            Je m’adapte facilement à un nouveau milieu. Je suis rapidement capable d’établir des contacts avec de nouvelles personnes et il est
                            facile de me converser.
                        </p>
                    </div>
                </div>
            </div>

            <div class="swiper-slide card">
                <div class="card-content card-creativity">
                    <div class="card-heading">
                        <h3>Créativité</h3>
                    </div>

                    <div class="card-text">
                        <p>
                            J’aime apporter ma touche personnelle aux choses. Que ce soit des projets scolaires, personnels ou même les tâches moins créatives
                            du quotidien. J’aime penser à de nouveaux concepts et essayer de sortir des sentiers battus.
                        </p>
                    </div>
                </div>
            </div>

            <div class="swiper-slide card">
                <div class="card-content card-critic">
                    <div class="card-heading">
                        <h3>Ouvert à la critique</h3>
                    </div>

                    <div class="card-text">
                        <p>
                            Personne n’est parfait. Mon travail n’est pas parfait et j’en suis conscient. Je suis ouvert à la critique d’un prof, un supérieur
                            ou même un collègue sur différents aspects de mon travail, tant et aussi longtemps que tout se fait dans le respect.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
