{% include '_partials/_header.html' %}

<section class="home">
    <div class="wrapper">
        <div class="home-content">
            <div class="heading">
                <h1>
                    <span class="first-name">Guillaume</span>
                    <span class="last-name">LanGlois</span>
                </h1>
                <h2>Développeur créatif junior</h2>
            </div>

            <div class="btn-container">
                <a href="#" class="btn-lg">Voir ce que je fais</a>
            </div>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
