{% include '_partials/_header.html' %}

<section class="hero">
    <div class="swiper carousel__hero" data-component="Carousel" data-autoplay data-loop>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="assets/images/hero_baleine.jpg" alt="Baleine sautant hors de l'eau" />
            </div>

            <div class="swiper-slide">
                <img src="assets/images/hero_kayak.jpg" alt="Randonnée en kayak" />
            </div>

            <div class="swiper-slide">
                <img src="assets/images/hero_plage.jpg" alt="Plage de Baie-Sainte-Catherine" />
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>

    <div class="content">
        <h1>Baie-Sainte-Catherine</h1>
        <h4>Capitale de la Zénitude et des baleines</h4>
        <div class="searchbar">
            <input class="search" type="text" placeholder="Rechercher..." />
            <a href="index.html">
                <svg class="icon">
                    <use xlink:href="#icon-loupe"></use>
                </svg>
            </a>
        </div>
    </div>
</section>

<section class="actualite">
    <div class="wrapper">
        <div class="content">
            <div class="section__heading" data-scrolly="fromLeft">
                <h2>Actualités</h2>
                <h4>Pour ne rien manquer!</h4>
            </div>

            <div class="swiper" data-component="Carousel" data-variant="split" data-scrolly="fromRight">
                <div class="swiper-wrapper">
                    <div class="swiper-slide card">
                        <img src="assets/images/kayak.jpg" alt="Activité de kayak" />

                        <div class="card__content">
                            <div class="card__info">
                                <p>12 avril 2023</p>

                                <p>Activités et loisirs</p>
                            </div>

                            <h5>Découvrez nos activités estivales!</h5>
                        </div>
                    </div>

                    <div class="swiper-slide card">
                        <img src="assets/images/traversier.jpg" alt="Horaire des traversiers" />

                        <div class="card__content">
                            <div class="card__info">
                                <p>10 avril 2023</p>

                                <p>Traversiers</p>
                            </div>

                            <h5>Changement d’horaire des traversiers</h5>
                        </div>
                    </div>

                    <div class="swiper-slide card">
                        <img src="assets/images/paques.webp" alt="Paniers d'oeufs de Pâques" />

                        <div class="card__content">
                            <div class="card__info">
                                <p>5 avril 2023</p>

                                <p>Fête</p>
                            </div>

                            <h5>Joyeuses Pâques!</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="loisirs">
    <div class="wrapper">
        <div class="section__heading" data-scrolly="fromBottom">
            <h2>Loisirs</h2>
            <h4>Tout ce qu’il y a à faire dans la région!</h4>
        </div>

        <div class="content">
            <div class="cards">
                <div class="loisirs__card">
                    <div class="loisirs__img" data-scrolly="fromLeft">
                        <img src="assets/images/baleines.jpg" alt="Activité de croisière d'observation de baleines" />
                    </div>
                    <div class="loisirs__card__content" data-scrolly="fromRight">
                        <div>
                            <h5>Croisières AML</h5>
                            <p>Venez vivre une expérience saisissante au cœur du meilleur site d’observation des baleines au monde!</p>
                            <a href="">
                                En savoir plus
                                <svg class="icon">
                                    <use xlink:href="#icon-fleche"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="loisirs__card">
                    <div class="loisirs__img" data-scrolly="fromRight">
                        <img src="assets/images/acropole.jpg" alt="Randonnée sur l'Acropole des Draveurs" />
                    </div>
                    <div class="loisirs__card__content" data-scrolly="fromLeft">
                        <div>
                            <h5>L’Acropole des Draveurs</h5>
                            <p>Ce sentier vous transporte dans milieu un alpin où la flore et les paysages sont à l’honneur.</p>
                            <a href="">
                                En savoir plus
                                <svg class="icon">
                                    <use xlink:href="#icon-fleche"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="loisirs__card">
                    <div class="loisirs__img" data-scrolly="fromLeft">
                        <img src="assets/images/route-fleuve.jpg" alt="La Route du Fleuve" />
                    </div>
                    <div class="loisirs__card__content" data-scrolly="fromRight">
                        <div>
                            <h5>La Route du Fleuve</h5>
                            <p>Sur la Route du Fleuve, on boucle sa ceinture sur 78 kilomètres de toute beauté le long du Saint-Laurent.</p>
                            <a href="">
                                En savoir plus
                                <svg class="icon">
                                    <use xlink:href="#icon-fleche"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <a href="" class="btn btn__dark" data-scrolly="fromBottom">Voir tous les loisirs</a>
        </div>
    </div>
</section>

<section class="histoire">
    <div class="wrapper">
        <div class="section__heading" data-scrolly="fromBottom">
            <h2>Histoire</h2>
        </div>

        <div class="content">
            <div class="histoire__grid">
                <div class="histoire__grid__item">
                    <div class="histoire__item__p" data-scrolly="fromLeft">
                        <p>
                            La municipalité de Baie-Sainte-Catherine existe depuis 1903, mais les premiers habitants de l'endroit sont venus s'installer vers
                            1850. À l'époque, la population, vivant de chasse, de pêche et d'agriculture, habitait sur la Pointe-aux-Alouettes, auparavant lieu
                            de vacances de quelques prêtres.
                        </p>
                    </div>
                    <div class="histoire__item__img" data-scrolly="fromRight">
                        <img src="assets/images/bsc.jpg" alt="Municipalité de Baie-Sainte-Catherine" />
                    </div>
                </div>
                <div class="histoire__grid__item">
                    <div class="histoire__item__img" data-scrolly="fromLeft">
                        <img src="assets/images/baleine.jpg" alt="Observation de baleines" />
                    </div>

                    <div class="histoire__item__p" data-scrolly="fromRight">
                        <p>
                            Ce n'est que depuis peu, avec les excursions d'observation des baleines, que la municipalité peut s'appuyer sur un secteur
                            économique d'importance.
                        </p>
                    </div>
                </div>
            </div>

            <div class="histoire__monuments">
                <p class="monuments__intro" data-scrolly="fromBottom">
                    La municipalité de Baie-Sainte-Catherine et ses environs regorgent de monuments historiques divers à explorer! En voici quelques-uns:
                </p>

                <div class="swiper" data-component="Carousel" data-variant="split" data-scrolly="fromBottom">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide monuments__card">
                            <img src="assets/images/eglise.jpg" alt="Église Saint-Firmin" />

                            <div class="monuments__info">
                                <h5>L'église Saint-Firmin</h5>
                            </div>
                        </div>

                        <div class="swiper-slide monuments__card">
                            <img src="assets/images/pointe-alouettes.jpg" alt="Pointe-aux-Alouettes" />

                            <div class="monuments__info">
                                <h5>La Pointe-aux-Alouettes</h5>
                            </div>
                        </div>

                        <div class="swiper-slide monuments__card">
                            <img src="assets/images/pointe-noire.jpg" alt="Pointe-Noire" />

                            <div class="monuments__info">
                                <h5>La Pointe-Noire</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <a href="" class="btn btn__light" data-scrolly="fromBottom">Voir tout sur l'histoire</a>
        </div>
    </div>
</section>

<section class="videos">
    <div class="wrapper">
        <div class="section__heading" data-scrolly="fromBottom">
            <h2>Galerie de vidéos</h2>
        </div>

        <div class="content">
            <div class="video__titre" data-scrolly="fromLeft">
                <h5>PORTRAIT - Baie-Sainte-Catherine - Maire - Monsieur Donald Kenny</h5>

                <div class="video" data-component="YouTube" data-video-id="FF7Ihe46wZU">
                    <div class="video__media js-video">
                        <img class="js-poster" src="assets/images/poster1.jpg" alt="PORTRAIT - Baie-Sainte-Catherine - Maire - Monsieur Donald Kenny" />
                    </div>

                    <svg class="icon icon--xl">
                        <use xlink:href="#icon-play"></use>
                    </svg>
                </div>
            </div>

            <div class="video__titre" data-scrolly="fromRight">
                <h5>Capsule 21 DGSTEPH 2.0 - La nouvelle décoration de l'Hôtel de Ville</h5>

                <div class="video" data-component="YouTube" data-video-id="WA38Ov4AOW0">
                    <div class="video__media js-video">
                        <img class="js-poster" src="assets/images/poster2.jpg" alt="Capsule 21 DGSTEPH 2.0 - La nouvelle décoration de l'Hôtel de Ville" />
                    </div>

                    <svg class="icon icon--xl">
                        <use xlink:href="#icon-play"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="liens-rapides">
    <div class="wrapper">
        <div class="content">
            <div class="section__heading" data-scrolly="fromLeft">
                <h2>Liens rapides</h2>
            </div>

            <div class="liens__grid">
                <a href="" class="liens__link" data-scrolly="fromBottom">
                    <h3>Avis publics</h3>
                </a>
                <a href="" class="liens__link" data-scrolly="fromBottom">
                    <h3>Activités et loisirs</h3>
                </a>
                <a href="" class="liens__link" data-scrolly="fromBottom">
                    <h3>Offres d’emplois</h3>
                </a>
                <a href="" class="liens__link" data-scrolly="fromBottom">
                    <h3>Collecte de matières résiduelles</h3>
                </a>
                <a href="" class="liens__link" data-scrolly="fromBottom">
                    <h3>Demandes et signalements</h3>
                </a>
                <a href="" class="liens__link" data-scrolly="fromBottom">
                    <h3>Demande de permis</h3>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="infolettre">
    <div class="wrapper">
        <div class="section__heading" data-scrolly="fromLeft">
            <h3>Abonnez-vous à l’infolettre!</h3>
        </div>

        <form action="" class="form" data-component="Form" data-scrolly="fromRight">
            <div class="form__body">
                <fieldset>
                    <div class="input">
                        <input class="input__element" type="email" name="email" id="email" placeholder="nom@courriel.com" />
                    </div>
                </fieldset>
                <button class="btn btn__infolettre">S'abonner</button>
            </div>

            <div class="form__confirmation">
                <p>Vous avez été abonné à l'infolettre!</p>
            </div>
        </form>
    </div>
</section>

{% include '_partials/_footer.html' %}
