{% include '_partials/_header.html' %}

<section class="project-heading">
    <div class="wrapper">
        <div class="heading-content">
            <div class="heading-text">
                <h1 data-scrolly="fromTop">Modélisation et création d’une ambiance réaliste sur Blender</h1>

                <div class="text-info" data-scrolly="fromLeft">
                    <p>Projet étudiant</p>
                    <p>|</p>
                    <p>Animation 3D</p>
                </div>

                <div class="text-credits">
                    <p data-scrolly="fromLeft">Crédit: Guillaume Langlois</p>
                </div>

                <div class="text-skills">
                    <p data-scrolly="fromLeft">Compétences utiles:</p>

                    <ul data-scrolly="fromLeft">
                        <li class="logo logo-after">
                            <svg class="icon icon--md">
                                <use xlink:href="#icon-blender"></use>
                            </svg>
                        </li>

                        <li class="logo">
                            <svg class="icon icon--md">
                                <use xlink:href="#icon-premiere"></use>
                            </svg>
                        </li>
                    </ul>
                </div>

                <div class="text-cta" data-scrolly="fromBottom">
                    <a href="https://youtu.be/QpMyxWoODyw?si=jDKd7YCljNz5vtX4" target="_blank" class="btn-sm">Voir l'animation</a>
                </div>
            </div>

            <div class="heading-reel" data-scrolly="fromRight">
                <video src="assets/videos/taverne-reel.mp4" autoplay loop>Votre navigateur ne supporte pas l'élément vidéo.</video>
            </div>
        </div>
    </div>
</section>

<section class="project-content">
    <div class="wrapper">
        <div class="content-right"></div>
    </div>
</section>

{% include '_partials/_footer.html' %}
