{% include '_partials/_header.html' %}

<main>
    <section class="project-heading">
        <div class="wrapper">
            <div class="heading-content">
                <div class="heading-text">
                    <h1 data-scrolly="fromTop">Modélisation et création d’une ambiance réaliste sur Blender</h1>

                    <div class="text-info" data-scrolly="fromLeft">
                        <p>Projet étudiant</p>
                        <p>|</p>
                        <p>Animation 3D</p>
                    </div>

                    <div class="text-credits">
                        <p data-scrolly="fromLeft">Crédit: Guillaume Langlois</p>
                    </div>

                    <div class="text-skills">
                        <p data-scrolly="fromLeft">Compétences utiles:</p>

                        <ul data-scrolly="fromLeft">
                            <li class="logo logo-after">
                                <svg class="icon icon--md">
                                    <use xlink:href="#icon-blender"></use>
                                </svg>
                            </li>

                            <li class="logo">
                                <svg class="icon icon--md">
                                    <use xlink:href="#icon-premiere"></use>
                                </svg>
                            </li>
                        </ul>
                    </div>

                    <div class="text-cta" data-scrolly="fromBottom">
                        <a href="https://youtu.be/QpMyxWoODyw?si=jDKd7YCljNz5vtX4" target="_blank" class="btn-sm">Voir l'animation</a>
                    </div>
                </div>

                <div class="heading-reel" data-scrolly="fromRight">
                    <video src="assets/videos/piege-reel.mp4" autoplay loop>Votre navigateur ne supporte pas l'élément vidéo.</video>
                </div>
            </div>
        </div>
    </section>

    <section class="project-content">
        <div class="wrapper">
            <div class="content-right">
                <div class="content-media" data-component="Modal">
                    <figure>
                        <div class="content-img js-open" data-scrolly="fromLeft">
                            <img src="assets/images/piege-overview.png" alt="Image du projet dans Blender" />
                        </div>
                        <figcaption data-scrolly="fromLeft">Image du projet dans Blender</figcaption>
                    </figure>

                    <dialog class="modal js-modal">
                        <figure>
                            <div class="content-img">
                                <img src="assets/images/piege-overview.png" alt="Image du projet dans Blender" />
                            </div>
                            <figcaption>Image du projet dans Blender</figcaption>
                        </figure>

                        <button class="btn-close js-close">
                            <span></span>
                            <span></span>
                        </button>
                    </dialog>
                </div>

                <div class="content-text">
                    <h2 data-scrolly="fromRight">Description du projet</h2>

                    <p data-scrolly="fromRight">
                        Cette
                        <strong>animation</strong>
                        a été réalisée sur
                        <strong>Blender</strong>
                        dans le cadre d'un
                        <strong>cours d'animation 3D.</strong>
                        Elle est
                        <strong>inspirée</strong>
                        des
                        <strong><em>Backrooms,</em></strong>
                        une
                        <strong>légende urbaine</strong>
                        du
                        <strong>web.</strong>
                    </p>
                </div>
            </div>

            <div class="content-left align-right">
                <div class="content-media" data-component="Modal">
                    <figure>
                        <div class="content-img js-open" data-scrolly="fromRight">
                            <img src="assets/images/piege-backrooms.webp" alt="Image originale des Backrooms" />
                        </div>
                        <figcaption data-scrolly="fromRight">
                            Image originale des
                            <em>Backrooms</em>
                        </figcaption>
                    </figure>

                    <dialog class="modal js-modal">
                        <figure>
                            <div class="content-img">
                                <img src="assets/images/piege-backrooms.webp" alt="Image originale des Backrooms" />
                            </div>
                            <figcaption>
                                Image originale des
                                <em>Backrooms</em>
                            </figcaption>
                        </figure>

                        <button class="btn-close js-close">
                            <span></span>
                            <span></span>
                        </button>
                    </dialog>
                </div>

                <div class="content-text">
                    <h2 data-scrolly="fromLeft">Processus de création</h2>

                    <p data-scrolly="fromLeft">
                        Pour cette animation à thème libre, j'ai décidé de faire honneur à mon
                        <strong>histoire d'horreur favorite:</strong>
                        les
                        <strong><em>Backrooms.</em></strong>
                        Je me suis donc
                        <strong>inspiré</strong>
                        non seulement de
                        <strong>l'image originale,</strong>
                        mais aussi
                        <strong>d'animations 3D similaires</strong>
                        réalisées par d'autres.
                    </p>
                </div>
            </div>

            <div class="content-carousel">
                <div class="content-text">
                    <h2 data-scrolly="fromBottom">Création de l'environnement</h2>

                    <p data-scrolly="fromBottom">
                        J'ai commencé par
                        <strong>modéliser</strong>
                        un
                        <strong>environnement</strong>
                        en positionnant les
                        <strong>murs</strong>
                        de façon
                        <strong>aléatoire.</strong>
                        J'y ai ensuite ajouté des
                        <strong>textures</strong>
                        de
                        <strong>papier peint,</strong>
                        de
                        <strong>plinthes,</strong>
                        de
                        <strong>tapis</strong>
                        et de
                        <strong>tuile de plafond</strong>
                        que j'ai trouvées en ligne.
                    </p>
                </div>

                <div class="carousel-img" data-scrolly="fromBottom">
                    <div class="swiper" data-component="Carousel" data-variant="split-2">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="content-media" data-component="Modal">
                                    <figure>
                                        <div class="content-img js-open">
                                            <img src="assets/images/piege-wallpaper.png" alt="Matériel du papier peint" />
                                        </div>
                                        <figcaption>Matériel du papier peint</figcaption>
                                    </figure>

                                    <dialog class="modal js-modal">
                                        <figure>
                                            <div class="content-img">
                                                <img src="assets/images/piege-wallpaper.png" alt="Matériel du papier peint" />
                                            </div>
                                            <figcaption>Matériel du papier peint</figcaption>
                                        </figure>

                                        <button class="btn-close js-close">
                                            <span></span>
                                            <span></span>
                                        </button>
                                    </dialog>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="content-media" data-component="Modal">
                                    <figure>
                                        <div class="content-img js-open">
                                            <img src="assets/images/piege-plinth.png" alt="Matériel des plinthes" />
                                        </div>
                                        <figcaption>Matériel des plinthes</figcaption>
                                    </figure>

                                    <dialog class="modal js-modal">
                                        <figure>
                                            <div class="content-img">
                                                <img src="assets/images/piege-plinth.png" alt="Matériel des plinthes" />
                                            </div>
                                            <figcaption>Matériel des plinthes</figcaption>
                                        </figure>

                                        <button class="btn-close js-close">
                                            <span></span>
                                            <span></span>
                                        </button>
                                    </dialog>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="content-media" data-component="Modal">
                                    <figure>
                                        <div class="content-img js-open">
                                            <img src="assets/images/piege-carpet.png" alt="Matériel du tapis" />
                                        </div>
                                        <figcaption>Matériel du tapis</figcaption>
                                    </figure>

                                    <dialog class="modal js-modal">
                                        <figure>
                                            <div class="content-img">
                                                <img src="assets/images/piege-carpet.png" alt="Matériel du tapis" />
                                            </div>
                                            <figcaption>Matériel du tapis</figcaption>
                                        </figure>

                                        <button class="btn-close js-close">
                                            <span></span>
                                            <span></span>
                                        </button>
                                    </dialog>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="content-media" data-component="Modal">
                                    <figure>
                                        <div class="content-img js-open">
                                            <img src="assets/images/piege-ceiling.png" alt="Matériel des tuiles du plafond" />
                                        </div>
                                        <figcaption>Matériel des tuiles du plafond</figcaption>
                                    </figure>

                                    <dialog class="modal js-modal">
                                        <figure>
                                            <div class="content-img">
                                                <img src="assets/images/piege-ceiling.png" alt="Matériel des tuiles du plafond" />
                                            </div>
                                            <figcaption>Matériel des tuiles du plafond</figcaption>
                                        </figure>

                                        <button class="btn-close js-close">
                                            <span></span>
                                            <span></span>
                                        </button>
                                    </dialog>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>

            <div class="content-right">
                <div class="content-media" data-component="Modal">
                    <figure>
                        <div class="content-img js-open" data-scrolly="fromLeft">
                            <img src="assets/images/piege-lights.png" alt="Matériel du plafond avec les nodes qui ajoutent les lumières" />
                        </div>
                        <figcaption data-scrolly="fromLeft">Matériel du plafond avec les nodes qui ajoutent les lumières</figcaption>
                    </figure>

                    <dialog class="modal js-modal">
                        <figure>
                            <div class="content-img">
                                <img src="assets/images/piege-lights.png" alt="Matériel du plafond avec les nodes qui ajoutent les lumières" />
                            </div>
                            <figcaption>Matériel du plafond avec les nodes qui ajoutent les lumières</figcaption>
                        </figure>

                        <button class="btn-close js-close">
                            <span></span>
                            <span></span>
                        </button>
                    </dialog>
                </div>

                <div class="content-text">
                    <h2 data-scrolly="fromRight">Création du plafond</h2>

                    <p data-scrolly="fromRight">
                        Pour ce qui est du plafond, j'ai utilisé mes
                        <strong>compétences</strong>
                        de
                        <strong>programmation nodale</strong>
                        apprises avec TouchDesigner pour faire un
                        <strong>matériel</strong>
                        de plafond qui
                        <strong>génère</strong>
                        des
                        <strong>tuiles lumineuses</strong>
                        sur des
                        <strong>tuiles</strong>
                        de plafond
                        <strong>aléatoires.</strong>
                    </p>
                </div>
            </div>

            <div class="content-left align-right">
                <div class="content-media" data-component="Modal">
                    <figure>
                        <div class="content-img js-open" data-scrolly="fromRight">
                            <img src="assets/images/piege-addon.png" alt="Camera Shakify sur GitHub" />
                        </div>
                        <figcaption data-scrolly="fromRight">
                            <em>Camera Shakify</em>
                            sur GitHub
                        </figcaption>
                    </figure>

                    <dialog class="modal js-modal">
                        <figure>
                            <div class="content-img">
                                <img src="assets/images/piege-addon.png" alt="Camera Shakify sur GitHub" />
                            </div>
                            <figcaption>
                                <em>Camera Shakify</em>
                                sur GitHub
                            </figcaption>
                        </figure>

                        <button class="btn-close js-close">
                            <span></span>
                            <span></span>
                        </button>
                    </dialog>
                </div>

                <div class="content-text">
                    <h2 data-scrolly="fromLeft">
                        <em>Add-on</em>
                        externe
                    </h2>

                    <p data-scrolly="fromLeft">
                        Pour apporter le plus grand
                        <strong>réalisme</strong>
                        possible à mon
                        <strong>animation,</strong>
                        je voulais des
                        <strong>mouvements</strong>
                        de caméra
                        <strong>réalistes.</strong>
                        En faisant des recherches, j'ai trouvé
                        <strong><em>Camera Shakify,</em></strong>
                        un
                        <strong><em>add-on</em></strong>
                        externe gratuit qui contient différents
                        <strong><em>presets</em></strong>
                        de
                        <strong>mouvement de caméra.</strong>
                    </p>
                </div>
            </div>

            <div class="content-right">
                <div class="content-media" data-component="Modal">
                    <figure>
                        <div class="content-img js-open" data-scrolly="fromLeft">
                            <img src="assets/images/piege-ghost.png" alt="Le fantôme avec son matériel et le système de tissu" />
                        </div>
                        <figcaption data-scrolly="fromLeft">Le fantôme avec son matériel et le système de tissu</figcaption>
                    </figure>

                    <dialog class="modal js-modal">
                        <figure>
                            <div class="content-img">
                                <img src="assets/images/piege-ghost.png" alt="Le fantôme avec son matériel et le système de tissu" />
                            </div>
                            <figcaption>Le fantôme avec son matériel et le système de tissu</figcaption>
                        </figure>

                        <button class="btn-close js-close">
                            <span></span>
                            <span></span>
                        </button>
                    </dialog>
                </div>

                <div class="content-text" data-scrolly="fromRight">
                    <h2>Modélisation d'un fantôme</h2>

                    <p>
                        Pour ajouter à mon animation, il me fallait un quelque chose de plus, un
                        <strong>élément de surprise.</strong>
                        J'ai donc
                        <strong>modélisé</strong>
                        un
                        <strong>fantôme</strong>
                        à l'aide du
                        <strong>système de tissu</strong>
                        de
                        <strong>Blender.</strong>
                    </p>
                </div>
            </div>

            <div class="content-left align-right">
                <div class="content-media" data-component="Modal">
                    <figure>
                        <div class="content-img js-open" data-scrolly="fromRight">
                            <img src="assets/images/piege-premiere.png" alt="Mon animation dans Adobe Premiere Pro" />
                        </div>
                        <figcaption data-scrolly="fromRight">Mon animation dans Adobe Premiere Pro</figcaption>
                    </figure>

                    <dialog class="modal js-modal">
                        <figure>
                            <div class="content-img">
                                <img src="assets/images/piege-premiere.png" alt="Mon animation dans Adobe Premiere Pro" />
                            </div>
                            <figcaption>Mon animation dans Adobe Premiere Pro</figcaption>
                        </figure>

                        <button class="btn-close js-close">
                            <span></span>
                            <span></span>
                        </button>
                    </dialog>
                </div>

                <div class="content-text">
                    <h2 data-scrolly="fromLeft">Ambiance dans Premiere Pro</h2>

                    <p data-scrolly="fromLeft">
                        Une fois le rendu terminé, j'ai ajouté une
                        <strong>ambiance sonore</strong>
                        dans
                        <strong>Adobe Premiere Pro.</strong>
                        J'ai aussi ajouté des
                        <strong>filtres vidéo</strong>
                        pour ajouter la dernière touche de
                        <strong>réalisme</strong>
                        qui manquait au projet.
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>

{% include '_partials/_footer.html' %}
