{% include '_partials/_header.html' %}

<section class="project-heading">
    <div class="wrapper">
        <div class="heading-content">
            <div class="heading-text">
                <h1 data-scrolly="fromTop">Modélisation et création d’une ambiance réaliste sur Blender</h1>

                <div class="text-info" data-scrolly="fromLeft">
                    <p>Projet étudiant</p>
                    <p>|</p>
                    <p>Animation 3D</p>
                </div>

                <div class="text-credits">
                    <p data-scrolly="fromLeft">Crédit: Guillaume Langlois</p>
                </div>

                <div class="text-skills">
                    <p data-scrolly="fromLeft">Compétences utiles:</p>

                    <ul data-scrolly="fromLeft">
                        <li class="logo logo-after">
                            <svg class="icon icon--md">
                                <use xlink:href="#icon-blender"></use>
                            </svg>
                        </li>

                        <li class="logo">
                            <svg class="icon icon--md">
                                <use xlink:href="#icon-premiere"></use>
                            </svg>
                        </li>
                    </ul>
                </div>

                <div class="text-cta" data-scrolly="fromBottom">
                    <a href="https://youtu.be/QpMyxWoODyw?si=jDKd7YCljNz5vtX4" target="_blank" class="btn-sm">Voir l'animation</a>
                </div>
            </div>

            <div class="heading-reel" data-scrolly="fromRight">
                <video src="assets/videos/taverne-reel.mp4" autoplay loop>Votre navigateur ne supporte pas l'élément vidéo.</video>
            </div>
        </div>
    </div>
</section>

<section class="project-content">
    <div class="wrapper">
        <div class="content-right">
            <div class="content-img" data-scrolly="fromLeft">
                <img src="assets/images/taverne-gameplay.png" alt="Image du projet dans Blender" />
            </div>

            <div class="content-text" data-scrolly="fromRight">
                <h2>Description du projet</h2>

                <p>
                    Cette
                    <strong>animation</strong>
                    a été réalisée sur
                    <strong>Blender</strong>
                    dans le cadre d'un
                    <strong>cours d'animation 3D.</strong>
                    Elle est
                    <strong>inspirée</strong>
                    des
                    <strong><em>Backrooms,</em></strong>
                    une
                    <strong>légende urbaine</strong>
                    du
                    <strong>web.</strong>
                </p>
            </div>
        </div>

        <div class="content-left align-right">
            <div class="content-img" data-scrolly="fromRight">
                <img src="assets/images/taverne-store.png" alt="Image d'une vidéo de Kane Pixels" />
            </div>

            <div class="content-text" data-scrolly="fromLeft">
                <h2>Processus de création</h2>

                <p>
                    Pour cette animation à thème libre, j'ai décidé de faire honneur à mon
                    <strong>histoire d'horreur favorite:</strong>
                    les
                    <strong><em>Backrooms.</em></strong>
                    Je me suis donc
                    <strong>inspiré</strong>
                    non seulement de
                    <strong>l'image originale,</strong>
                    mais aussi
                    <strong>d'animations 3D similaires</strong>
                    réalisées par d'autres.
                </p>
            </div>
        </div>

        <div class="content-carousel">
            <div class="content-text" data-scrolly="fromBottom">
                <h2>
                    Modélisation
                    <em>d’assets</em>
                    personnalisés
                </h2>

                <p>
                    Par la suite, j’ai remarqué qu’il manquait quelques assets pour réaliser mon projet. J’ai donc utilisé mes
                    <strong>compétences</strong>
                    sur
                    <strong>Blender</strong>
                    pour
                    <strong>modéliser</strong>
                    la
                    <strong>porte,</strong>
                    le
                    <strong>plancher/plafond,</strong>
                    2 types de
                    <strong>murs</strong>
                    et les
                    <strong>serrures.</strong>
                </p>
            </div>

            <div class="carousel-img" data-scrolly="fromBottom">
                <div class="swiper" data-component="Carousel" data-variant="split-2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide content-img">
                            <img src="assets/images/taverne-door.png" alt="Image de la porte modélisée dans Blender" />
                        </div>

                        <div class="swiper-slide content-img">
                            <img src="assets/images/taverne-ceiling.png" alt="Image du plafond/plancher modélisé dans Blender" />
                        </div>

                        <div class="swiper-slide content-img">
                            <img src="assets/images/taverne-wall.png" alt="Image du mur standard modélisé dans Blender" />
                        </div>

                        <div class="swiper-slide content-img">
                            <img src="assets/images/taverne-door_wall.png" alt="Image du mur de la porte modélisé dans Blender" />
                        </div>

                        <div class="swiper-slide content-img">
                            <img src="assets/images/taverne-lock.png" alt="Image d'une serrure modélisée dans Blender" />
                        </div>
                    </div>

                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
