{% include '_partials/_header.html' %}

<section class="projects">
    <div class="wrapper">
        <h1>
            Mes projets
            <strong>SET TES VARIABLES DE POLICE COMME DU MONDE</strong>
        </h1>

        <div class="cards-projects">
            <div class="card-project">
                <a href="#">
                    <img src="assets/images/taverne_vignette.png" alt=" Vignette du projet de taverne médiévale" />
                </a>

                <div class="card-project__content">
                    <h2>
                        Design d’une
                        <em>escape room</em>
                        en réalité virtuelle sur Unity
                    </h2>

                    <div class="card-project__info">
                        <p>Projet étudiant</p>
                        <div class="card__icon-list">
                            <svg class="icon">
                                <use xlink:href="#icon-unity"></use>
                            </svg>

                            <svg class="icon">
                                <use xlink:href="#icon-csharp"></use>
                            </svg>

                            <svg class="icon">
                                <use xlink:href="#icon-blender"></use>
                            </svg>
                        </div>
                        <a class="btn-sm" href="#">Voir le projet</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
