{% include '_partials/_header.html' %}

<section class="projects">
    <div class="wrapper">
        <h1>Mes projets</h1>

        <ul class="cards-projects">
            <li class="card-right">
                <div class="card-project">
                    <div class="card-content__container">
                        <a class="project-thumbnail" href="#">
                            <img src="assets/images/taverne_vignette.png" alt="Vignette du projet de taverne médiévale" />
                        </a>

                        <div class="card-project__content card-content-left flex-start">
                            <h2>
                                Design d’une
                                <em>escape room</em>
                                en réalité virtuelle sur Unity
                            </h2>

                            <div class="card-project__info flex-start">
                                <div class="card__info-row">
                                    <p>Projet étudiant</p>
                                    <div class="card__icon-list">
                                        <svg class="icon icon--md">
                                            <use xlink:href="#icon-unity"></use>
                                        </svg>

                                        <svg class="icon icon--md">
                                            <use xlink:href="#icon-csharp"></use>
                                        </svg>

                                        <svg class="icon icon--md">
                                            <use xlink:href="#icon-blender"></use>
                                        </svg>
                                    </div>
                                </div>
                                <a class="btn-sm" href="#">Voir le projet</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="card-left">
                <div class="card-project">
                    <div class="card-content__container">
                        <a class="project-thumbnail" href="#">
                            <img class="img-piege" src="assets/images/piege_vignette.png" alt="Vignette du projet Pris au piège" />
                        </a>

                        <div class="card-project__content card-content-right flex-end">
                            <h2>Modélisation et création d’une ambiance réaliste sur Blender</h2>

                            <div class="card-project__info flex-end">
                                <div class="card__info-row">
                                    <p>Projet étudiant</p>
                                    <div class="card__icon-list">
                                        <svg class="icon icon--md">
                                            <use xlink:href="#icon-blender"></use>
                                        </svg>

                                        <svg class="icon icon--md">
                                            <use xlink:href="#icon-premiere"></use>
                                        </svg>
                                    </div>
                                </div>
                                <a class="btn-sm" href="#">Voir le projet</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="card-right">
                <div class="card-project">
                    <div class="card-content__container">
                        <a class="project-thumbnail" href="#">
                            <img class="img-bsc" src="assets/images/bsc_vignette.png" alt="Vignette du projet refonte du site de Baie-Sainte-Catherine" />
                        </a>

                        <div class="card-project__content card-content-left flex-start">
                            <h2>Design et intégration d’un site web pour un client fictif</h2>

                            <div class="card-project__info flex-start">
                                <div class="card__info-row">
                                    <p>Projet étudiant</p>
                                    <div class="card__icon-list">
                                        <svg class="icon icon--md">
                                            <use xlink:href="#icon-html"></use>
                                        </svg>

                                        <svg class="icon icon--md">
                                            <use xlink:href="#icon-css"></use>
                                        </svg>

                                        <svg class="icon icon--md">
                                            <use xlink:href="#icon-javascript"></use>
                                        </svg>
                                    </div>
                                </div>
                                <a class="btn-sm" href="#">Voir le projet</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="card-left">
                <div class="card-project">
                    <div class="card-content__container">
                        <a class="project-thumbnail" href="#">
                            <img src="assets/images/abeilles_vignette.png" alt="Vignette du projet Sauvez les abeilles!" />
                        </a>

                        <div class="card-project__content card-content-right flex-end">
                            <h2>Design d’une application mobile de jeu en réalité augmentée</h2>

                            <div class="card-project__info flex-end">
                                <div class="card__info-row">
                                    <p>Projet étudiant</p>
                                    <div class="card__icon-list">
                                        <svg class="icon icon--md">
                                            <use xlink:href="#icon-figma"></use>
                                        </svg>

                                        <svg class="icon icon--md">
                                            <use xlink:href="#icon-illustrator"></use>
                                        </svg>
                                    </div>
                                </div>
                                <a class="btn-sm" href="#">Voir le projet</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="card-right">
                <div class="card-project">
                    <div class="card-content__container">
                        <a class="project-thumbnail" href="#">
                            <img src="assets/images/william_vignette.png" alt="Vignette du projet William" />
                        </a>

                        <div class="card-project__content card-content-left flex-start">
                            <h2>Animation manuelle de personnage sur Blender</h2>

                            <div class="card-project__info flex-start">
                                <div class="card__info-row">
                                    <p>Projet étudiant</p>
                                    <div class="card__icon-list">
                                        <svg class="icon icon--md">
                                            <use xlink:href="#icon-blender"></use>
                                        </svg>

                                        <svg class="icon icon--md">
                                            <use xlink:href="#icon-premiere"></use>
                                        </svg>

                                        <svg class="icon icon--md">
                                            <use xlink:href="#icon-fspy"></use>
                                        </svg>
                                    </div>
                                </div>
                                <a class="btn-sm" href="#">Voir le projet</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

{% include '_partials/_footer.html' %}
