{% include '_partials/_header.html' %}

<main>
    <section class="project-heading">
        <div class="wrapper">
            <div class="heading-content">
                <div class="heading-text">
                    <h1 data-scrolly="fromTop">Design d’une application de jeu en réalité augmentée</h1>

                    <div class="text-info" data-scrolly="fromLeft">
                        <p>Projet étudiant</p>
                        <p>|</p>
                        <p>Design UI/UX</p>
                    </div>

                    <div class="text-credits">
                        <p data-scrolly="fromLeft">Crédits: Guillaume Langlois</p>
                    </div>

                    <div class="text-skills">
                        <p data-scrolly="fromLeft">Compétences utiles:</p>

                        <ul data-scrolly="fromLeft">
                            <li class="logo logo-after">
                                <svg class="icon icon--md">
                                    <use xlink:href="#icon-figma"></use>
                                </svg>
                            </li>

                            <li class="logo">
                                <svg class="icon icon--md">
                                    <use xlink:href="#icon-illustrator"></use>
                                </svg>
                            </li>
                        </ul>
                    </div>

                    <div class="text-cta" data-scrolly="fromBottom">
                        <a href="#" class="btn-sm">Voir le prototype</a>
                    </div>
                </div>

                <div class="heading-reel" data-scrolly="fromRight">
                    <video src="assets/videos/taverne-reel.mp4" autoplay loop>Votre navigateur ne supporte pas l'élément vidéo.</video>
                </div>
            </div>
        </div>
    </section>

    <section class="project-content">
        <div class="wrapper">
            <div class="content-right">
                <figure class="content-media">
                    <div class="content-img" data-scrolly="fromLeft">
                        <img src="assets/images/taverne-gameplay.png" alt="Structure des frames sur Figma" />
                    </div>
                    <figcaption data-scrolly="fromLeft">
                        Structure des
                        <em>frames</em>
                        sur Figma
                    </figcaption>
                </figure>

                <div class="content-text">
                    <h2 data-scrolly="fromRight">Description du projet</h2>

                    <p data-scrolly="fromRight">
                        Ce
                        <strong>design</strong>
                        de
                        <strong>jeu mobile</strong>
                        a été réalisé avec
                        <strong>Figma</strong>
                        dans le cadre d'un cours de
                        <strong><em>**********DESIGN D'EXPÉRIENCE**********</em></strong>
                        Le but du projet était de
                        <strong>concevoir</strong>
                        une
                        <strong>application</strong>
                        de
                        <strong>jeu mobile</strong>
                        en
                        <strong>réalité augmentée.</strong>
                        Le
                        <strong>focus</strong>
                        étant surtout sur le design
                        <strong>
                            <em>UI/UX,</em>
                        </strong>
                        la partie « jeu » est
                        <strong>prototypée</strong>
                        de façon assez rudimentaire.
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>

{% include '_partials/_footer.html' %}
