{% include '_partials/_header.html' %}

<main>
    <section class="project-heading">
        <div class="wrapper">
            <div class="heading-content">
                <div class="heading-text">
                    <h1 data-scrolly="fromTop">Design d’une application de jeu mobile sur Figma</h1>

                    <div class="text-info" data-scrolly="fromLeft">
                        <p>Projet étudiant</p>
                        <p>|</p>
                        <p>Design UI/UX</p>
                    </div>

                    <div class="text-credits">
                        <p data-scrolly="fromLeft">Crédits: Guillaume Langlois</p>
                    </div>

                    <div class="text-skills">
                        <p data-scrolly="fromLeft">Compétences utiles:</p>

                        <ul data-scrolly="fromLeft">
                            <li class="logo logo-after">
                                <svg class="icon icon--md">
                                    <use xlink:href="#icon-figma"></use>
                                </svg>
                            </li>

                            <li class="logo">
                                <svg class="icon icon--md">
                                    <use xlink:href="#icon-illustrator"></use>
                                </svg>
                            </li>
                        </ul>
                    </div>

                    <div class="text-cta" data-scrolly="fromBottom">
                        <a
                            href="https://www.figma.com/proto/w745OgmEY4ijefFImqPRQU/Sauvez-les-abeilles!?page-id=263%3A245&node-id=1238-5813&node-type=canvas&viewport=1085%2C463%2C0.24&t=cGJmUsMSi8pctg7n-1&scaling=scale-down&content-scaling=fixed&starting-point-node-id=1238%3A7531"
                            target="_blank"
                            class="btn-sm"
                        >
                            Voir le prototype
                        </a>
                    </div>
                </div>

                <div class="heading-reel" data-scrolly="fromRight">
                    <video src="assets/videos/taverne-reel.mp4" autoplay loop>Votre navigateur ne supporte pas l'élément vidéo.</video>
                </div>
            </div>
        </div>
    </section>

    <section class="project-content">
        <div class="wrapper">
            <div class="content-right">
                <figure class="content-media">
                    <div class="content-img" data-scrolly="fromLeft">
                        <img src="assets/images/taverne-gameplay.png" alt="Structure des frames sur Figma" />
                    </div>
                    <figcaption data-scrolly="fromLeft">
                        Structure des
                        <em>frames</em>
                        sur Figma
                    </figcaption>
                </figure>

                <div class="content-text">
                    <h2 data-scrolly="fromRight">Description du projet</h2>

                    <p data-scrolly="fromRight">
                        Ce
                        <strong>design</strong>
                        de
                        <strong>jeu mobile</strong>
                        a été réalisé avec
                        <strong>Figma</strong>
                        dans le cadre d'un cours de
                        <strong><em>**********DESIGN D'EXPÉRIENCE**********</em></strong>
                        Le but du projet était de
                        <strong>concevoir</strong>
                        une
                        <strong>application</strong>
                        de
                        <strong>jeu mobile</strong>
                        en
                        <strong>réalité augmentée.</strong>
                        Le
                        <strong>focus</strong>
                        étant surtout sur le design
                        <strong>
                            <em>UI/UX,</em>
                        </strong>
                        la partie « jeu » est
                        <strong>prototypée</strong>
                        de façon assez rudimentaire.
                    </p>
                </div>
            </div>

            <div class="content-left align-right">
                <figure class="content-media">
                    <div class="content-img" data-scrolly="fromRight">
                        <img src="assets/images/taverne-gameplay.png" alt="Plan du parcours utilisateur" />
                    </div>
                    <figcaption data-scrolly="fromRight">Plan du parcours utilisateur</figcaption>
                </figure>

                <div class="content-text">
                    <h2 data-scrolly="fromLeft">Analyse de contenu</h2>

                    <p data-scrolly="fromLeft">
                        Pour commencer, j'ai fait une analyse de la
                        <strong><em>persona</em></strong>
                        ciblée pour le projet. Suite à cette analyse, j'ai fait un
                        <strong>plan</strong>
                        du
                        <strong>parcours utilisateur.</strong>
                        Ce plan m'a été utile pour savoir
                        <strong>combien d'interfaces</strong>
                        différentes j'allais avoir à
                        <strong>designer</strong>
                        et comment elles allaient être
                        <strong>connectées.</strong>
                    </p>
                </div>
            </div>

            <div class="content-right">
                <figure class="content-media">
                    <div class="content-img" data-scrolly="fromLeft">
                        <img src="assets/images/taverne-gameplay.png" alt="Wireframe du projet" />
                    </div>
                    <figcaption data-scrolly="fromLeft">
                        <em>Wireframe</em>
                        du projet
                    </figcaption>
                </figure>

                <div class="content-text">
                    <h2 data-scrolly="fromRight">
                        Création d'un
                        <em>wireframe</em>
                        <em>lo-fi</em>
                    </h2>

                    <p data-scrolly="fromRight">
                        Par la suite, j'ai fait un
                        <strong><em>wireframe</em></strong>
                        <strong><em>lo-fi</em></strong>
                        de mes
                        <strong>interfaces.</strong>
                        Cette étape a servi à
                        <strong>planifier</strong>
                        l'emplacement de mes différents
                        <strong>éléments</strong>
                        dans chaque
                        <strong>inferface</strong>
                        et le
                        <strong>nombre d'interfaces</strong>
                        que j'aurai à
                        <strong>designer.</strong>
                    </p>
                </div>
            </div>

            <div class="content-carousel">
                <div class="content-text">
                    <h2 data-scrolly="fromBottom">Dernières touches avant prototypage</h2>

                    <p data-scrolly="fromBottom">
                        Avant de
                        <strong>prototyper</strong>
                        le tout, j'ai trouvé un
                        <strong>thème</strong>
                        qui convenait à la
                        <strong><em>persona</em></strong>
                        et j'ai fait un
                        <strong><em>moodboard</em></strong>
                        pour me donner une meilleure idée de ma
                        <strong>direction artistique.</strong>
                        J'ai aussi fait un
                        <strong>guide de styles,</strong>
                        choisissant une
                        <strong>palette de couleur</strong>
                        et mes
                        <strong>polices d'écriture.</strong>
                        Lors de mon design final d'interface, j'ai fait un
                        <strong><em>design system</em></strong>
                        pour répertorier toutes mes
                        <strong>composantes</strong>
                        et mes morceaux de
                        <strong><em>UI</em></strong>
                        qui allaient se retrouver dans plusieurs
                        <strong>interfaces.</strong>
                    </p>
                </div>

                <div class="carousel-img" data-scrolly="fromBottom">
                    <div class="swiper" data-component="Carousel" data-variant="split-2">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <figure>
                                    <div class="content-img">
                                        <img src="assets/images/taverne-door.png" alt="Image de la porte modélisée dans Blender" />
                                    </div>
                                    <figcaption>
                                        <em>Prefab</em>
                                        de la porte
                                    </figcaption>
                                </figure>
                            </div>

                            <div class="swiper-slide">
                                <figure>
                                    <div class="content-img">
                                        <img src="assets/images/taverne-ceiling.png" alt="Image du plafond/plancher modélisé dans Blender" />
                                    </div>
                                    <figcaption>
                                        <em>Prefab</em>
                                        d'une tuile de plafond/plancher
                                    </figcaption>
                                </figure>
                            </div>

                            <div class="swiper-slide">
                                <figure>
                                    <div class="content-img">
                                        <img src="assets/images/taverne-wall.png" alt="Image du mur standard modélisé dans Blender" />
                                    </div>
                                    <figcaption>
                                        <em>Prefab</em>
                                        d'une section de mur standard
                                    </figcaption>
                                </figure>
                            </div>

                            <div class="swiper-slide">
                                <figure>
                                    <div class="content-img">
                                        <img src="assets/images/taverne-door_wall.png" alt="Image du mur de la porte modélisé dans Blender" />
                                    </div>
                                    <figcaption>
                                        <em>Prefab</em>
                                        de la section du mur de la porte
                                    </figcaption>
                                </figure>
                            </div>

                            <div class="swiper-slide">
                                <figure>
                                    <div class="content-img">
                                        <img src="assets/images/taverne-lock.png" alt="Image d'une serrure modélisée dans Blender" />
                                    </div>
                                    <figcaption>
                                        <em>Prefab</em>
                                        d'une serrure
                                    </figcaption>
                                </figure>
                            </div>
                        </div>

                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>

            <div class="content-left align-right">
                <figure class="content-media">
                    <div class="content-img" data-scrolly="fromRight">
                        <img src="assets/images/taverne-gameplay.png" alt="Création du logo du Adobe Illustrator" />
                    </div>
                    <figcaption data-scrolly="fromRight">Création du logo du Adobe Illustrator</figcaption>
                </figure>

                <div class="content-text">
                    <h2 data-scrolly="fromLeft">Création d'un logo</h2>

                    <p data-scrolly="fromLeft">
                        Pour mon
                        <strong>application,</strong>
                        il me fallait un
                        <strong>logo.</strong>
                        J'ai donc utilisé mes
                        <strong>compétences</strong>
                        dans
                        <strong>Adobe Illustrator</strong>
                        pour
                        <strong>concevoir</strong>
                        un
                        <strong>logo</strong>
                        que j'ai ensuite
                        <strong>vectorisé</strong>
                        pour pouvoir mieux le
                        <strong>travailler</strong>
                        dans
                        <strong>Figma.</strong>
                    </p>
                </div>
            </div>

            <div class="content-right">
                <figure class="content-media">
                    <div class="content-img" data-scrolly="fromLeft">
                        <img src="assets/images/taverne-gameplay.png" alt="Wireframe du projet" />
                    </div>
                    <figcaption data-scrolly="fromLeft">
                        Toutes les interfaces du
                        <em>prototypage</em>
                    </figcaption>
                </figure>

                <div class="content-text">
                    <h2 data-scrolly="fromRight">
                        <em>Prototypage</em>
                        des interfaces
                    </h2>

                    <p data-scrolly="fromRight">
                        Pour finir, j'ai utilisé la
                        <strong>fonction</strong>
                        de
                        <strong><em>prototypage</em></strong>
                        de
                        <strong>Figma</strong>
                        pour faire un
                        <strong>prototype</strong>
                        réaliste de
                        <strong>l'application</strong>
                        terminée. J'ai du ajouter
                        <strong>quelques itérations</strong>
                        de certaines
                        <strong>interfaces</strong>
                        pour faire des
                        <strong>animations</strong>
                        et différents
                        <strong>états de progression</strong>
                        dans
                        <strong>l'application.</strong>
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>

{% include '_partials/_footer.html' %}
