{% include '_partials/_header.html' %}

<main>
    <section class="project-heading">
        <div class="wrapper">
            <div class="heading-content">
                <div class="heading-text">
                    <h1 data-scrolly="fromTop">Création d’un site web en équipe en moins de 48h</h1>

                    <div class="text-info" data-scrolly="fromLeft">
                        <p>Projet étudiant</p>
                        <p>|</p>
                        <p>Design / Web</p>
                    </div>

                    <div class="text-credits">
                        <p data-scrolly="fromLeft">
                            Crédits:
                            <a href="https://guillaumelanglois.ca/orion/notre-equipe/" target="_blank">Les Marmeladeurs</a>
                        </p>
                    </div>

                    <div class="text-skills">
                        <p data-scrolly="fromLeft">Compétences utiles:</p>

                        <ul data-scrolly="fromLeft">
                            <li class="logo logo-after">
                                <svg class="icon icon--md">
                                    <use xlink:href="#icon-figma"></use>
                                </svg>
                            </li>

                            <li class="logo logo-after">
                                <svg class="icon icon--md">
                                    <use xlink:href="#icon-html"></use>
                                </svg>
                            </li>

                            <li class="logo logo-after">
                                <svg class="icon icon--md">
                                    <use xlink:href="#icon-css"></use>
                                </svg>
                            </li>

                            <li class="logo logo-after">
                                <svg class="icon icon--md">
                                    <use xlink:href="#icon-javascript"></use>
                                </svg>
                            </li>

                            <li class="logo logo-after">
                                <svg class="icon icon--md">
                                    <use xlink:href="#icon-php"></use>
                                </svg>
                            </li>

                            <li class="logo">
                                <svg class="icon icon--md">
                                    <use xlink:href="#icon-wordpress"></use>
                                </svg>
                            </li>
                        </ul>
                    </div>

                    <div class="text-cta" data-scrolly="fromBottom">
                        <a href="https://guillaumelanglois.ca/orion/" target="_blank" class="btn-sm">Voir le site</a>
                    </div>
                </div>

                <div class="heading-reel" data-scrolly="fromRight">
                    <video src="assets/videos/taverne-reel.mp4" autoplay loop>Votre navigateur ne supporte pas l'élément vidéo.</video>
                </div>
            </div>
        </div>
    </section>

    <section class="project-content">
        <div class="wrapper">
            <div class="content-right">
                <div class="content-media" data-component="Modal">
                    <figure>
                        <div class="content-img js-open" data-scrolly="fromLeft">
                            <img src="assets/images/webjam-theme.png" alt="Thématique du webjam" />
                        </div>
                        <figcaption data-scrolly="fromLeft">
                            Thématique du
                            <em>webjam</em>
                        </figcaption>
                    </figure>

                    <dialog class="modal js-modal">
                        <figure>
                            <div class="content-img">
                                <img src="assets/images/webjam-theme.png" alt="Thématique du webjam" />
                            </div>
                            <figcaption>
                                Thématique du
                                <em>webjam</em>
                            </figcaption>
                        </figure>

                        <button class="btn-close js-close">
                            <span></span>
                            <span></span>
                        </button>
                    </dialog>
                </div>

                <div class="content-text">
                    <h2 data-scrolly="fromRight">Description du projet</h2>

                    <p data-scrolly="fromRight">
                        Ce projet
                        <strong>d'équipe</strong>
                        était un
                        <strong><em>webjam.</em></strong>
                        Nous devions
                        <strong>designer,</strong>
                        <strong>intégrer</strong>
                        et
                        <strong>coder dynamiquement</strong>
                        un site en
                        <strong>PHP</strong>
                        avec
                        <strong>WordPress,</strong>
                        selon un
                        <strong>thème</strong>
                        et des
                        <strong>consignes imposés.</strong>
                        Personnellement,
                        <strong>j'ai</strong>
                        principalement
                        <strong>contribué</strong>
                        au
                        <strong>design,</strong>
                        à la
                        <strong>génération de contenu</strong>
                        par
                        <strong>IA,</strong>
                        mais j'ai aussi fait un peu
                        <strong>d'intégration</strong>
                        et un peu de
                        <strong>PHP/WordPress.</strong>
                    </p>
                </div>
            </div>

            <div class="content-left align-right">
                <div class="content-media" data-component="Modal">
                    <figure>
                        <div class="content-img js-open" data-scrolly="fromRight">
                            <img src="assets/images/webjam-plan.png" alt="Notre plan de contenu" />
                        </div>
                        <figcaption data-scrolly="fromRight">Notre plan de contenu</figcaption>
                    </figure>

                    <dialog class="modal js-modal">
                        <figure>
                            <div class="content-img">
                                <img src="assets/images/webjam-plan.png" alt="Notre plan de contenu" />
                            </div>
                            <figcaption>Notre plan de contenu</figcaption>
                        </figure>

                        <button class="btn-close js-close">
                            <span></span>
                            <span></span>
                        </button>
                    </dialog>
                </div>

                <div class="content-text">
                    <h2 data-scrolly="fromLeft">Planification du contenu</h2>

                    <p data-scrolly="fromLeft">
                        Pour commencer, nous avons fait un
                        <strong>plan de contenu</strong>
                        en
                        <strong>équipe,</strong>
                        directement dans
                        <strong>Figma,</strong>
                        pour
                        <strong>chaque page</strong>
                        demandée. Ce plan était notre
                        <strong>liste</strong>
                        à laquelle nous nous
                        <strong>référions</strong>
                        pour faire notre
                        <strong>design UI.</strong>
                    </p>
                </div>
            </div>

            <div class="content-carousel">
                <div class="content-text">
                    <h2 data-scrolly="fromBottom">Ma contribution en détail</h2>

                    <p data-scrolly="fromBottom">
                        Pour
                        <strong>ma part,</strong>
                        comme mentionné plus haut,
                        <strong>j'ai</strong>
                        surtout
                        <strong>fait</strong>
                        du
                        <strong>design.</strong>
                        Ci-bas sont donc
                        <strong>toutes</strong>
                        les
                        <strong>pages et sections</strong>
                        que j'ai
                        <strong>designé.</strong>
                        De plus,
                        <strong>dans</strong>
                        le
                        <strong>carousel</strong>
                        se trouvent aussi
                        <strong>mes contributions</strong>
                        <strong>d'intégration</strong>
                        et de
                        <strong>PHP/WordPress.</strong>
                    </p>
                </div>

                <div class="carousel-img" data-scrolly="fromBottom">
                    <div class="swiper" data-component="Carousel" data-variant="split-2">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="content-media" data-component="Modal">
                                    <figure>
                                        <div class="content-img js-open">
                                            <img src="assets/images/webjam-header-footer.png" alt="Design du header et footer en desktop" />
                                        </div>
                                        <figcaption>
                                            Design du
                                            <em>header</em>
                                            et
                                            <em>footer</em>
                                            en
                                            <em>desktop</em>
                                        </figcaption>
                                    </figure>

                                    <dialog class="modal js-modal">
                                        <figure>
                                            <div class="content-img">
                                                <img src="assets/images/webjam-header-footer.png" alt="Design du header et footer en desktop" />
                                            </div>
                                            <figcaption>
                                                Design du
                                                <em>header</em>
                                                et
                                                <em>footer</em>
                                                en
                                                <em>desktop</em>
                                            </figcaption>
                                        </figure>

                                        <button class="btn-close js-close">
                                            <span></span>
                                            <span></span>
                                        </button>
                                    </dialog>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="content-media" data-component="Modal">
                                    <figure>
                                        <div class="content-img js-open">
                                            <img src="assets/images/webjam-all-models.png" alt="Design de la section « Tous nos modèles » en desktop" />
                                        </div>
                                        <figcaption>
                                            Design de la section « Tous nos modèles » en
                                            <em>desktop</em>
                                        </figcaption>
                                    </figure>

                                    <dialog class="modal js-modal">
                                        <figure>
                                            <div class="content-img">
                                                <img src="assets/images/webjam-all-models.png" alt="Design de la section « Tous nos modèles » en desktop" />
                                            </div>
                                            <figcaption>
                                                Design de la section « Tous nos modèles » en
                                                <em>desktop</em>
                                            </figcaption>
                                        </figure>

                                        <button class="btn-close js-close">
                                            <span></span>
                                            <span></span>
                                        </button>
                                    </dialog>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="content-media" data-component="Modal">
                                    <figure>
                                        <div class="content-img js-open">
                                            <img
                                                src="assets/images/webjam-available-forfaits.png"
                                                alt="Design de la section « Disponible avec nos forfaits » en desktop"
                                            />
                                        </div>
                                        <figcaption>
                                            Design de la section « Disponible avec nos forfaits » en
                                            <em>desktop</em>
                                        </figcaption>
                                    </figure>

                                    <dialog class="modal js-modal">
                                        <figure>
                                            <div class="content-img">
                                                <img
                                                    src="assets/images/webjam-available-forfaits.png"
                                                    alt="Design de la section « Disponible avec nos forfaits » en desktop"
                                                />
                                            </div>
                                            <figcaption>
                                                Design de la section « Disponible avec nos forfaits » en
                                                <em>desktop</em>
                                            </figcaption>
                                        </figure>

                                        <button class="btn-close js-close">
                                            <span></span>
                                            <span></span>
                                        </button>
                                    </dialog>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="content-media" data-component="Modal">
                                    <figure>
                                        <div class="content-img js-open">
                                            <img src="assets/images/webjam-forfaits.png" alt="Design de la page « Nos forfaits »" />
                                        </div>
                                        <figcaption>Design de la page « Nos forfaits »</figcaption>
                                    </figure>

                                    <dialog class="modal js-modal">
                                        <figure>
                                            <div class="content-img">
                                                <img src="assets/images/webjam-forfaits.png" alt="Design de la page « Nos forfaits »" />
                                            </div>
                                            <figcaption>Design de la page « Nos forfaits »</figcaption>
                                        </figure>

                                        <button class="btn-close js-close">
                                            <span></span>
                                            <span></span>
                                        </button>
                                    </dialog>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="content-media" data-component="Modal">
                                    <figure>
                                        <div class="content-img js-open">
                                            <img src="assets/images/webjam-form.png" alt="Design de la page « Réservez votre voyage »" />
                                        </div>
                                        <figcaption>Design de la page « Réservez votre voyage »</figcaption>
                                    </figure>

                                    <dialog class="modal js-modal">
                                        <figure>
                                            <div class="content-img">
                                                <img src="assets/images/webjam-form.png" alt="Design de la page « Réservez votre voyage »" />
                                            </div>
                                            <figcaption>Design de la page « Réservez votre voyage »</figcaption>
                                        </figure>

                                        <button class="btn-close js-close">
                                            <span></span>
                                            <span></span>
                                        </button>
                                    </dialog>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="content-media" data-component="Modal">
                                    <figure>
                                        <div class="content-img js-open">
                                            <img src="assets/images/webjam-team.png" alt="Design de la page « Notre équipe »" />
                                        </div>
                                        <figcaption>Design de la page « Notre équipe »</figcaption>
                                    </figure>

                                    <dialog class="modal js-modal">
                                        <figure>
                                            <div class="content-img">
                                                <img src="assets/images/webjam-team.png" alt="Design de la page « Notre équipe »" />
                                            </div>
                                            <figcaption>Design de la page « Notre équipe »</figcaption>
                                        </figure>

                                        <button class="btn-close js-close">
                                            <span></span>
                                            <span></span>
                                        </button>
                                    </dialog>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="content-media" data-component="Modal">
                                    <figure>
                                        <div class="content-img js-open">
                                            <img src="assets/images/webjam-team-member.png" alt="Design de la page de chaque membre de l'équipe" />
                                        </div>
                                        <figcaption>Design de la page de chaque membre de l'équipe</figcaption>
                                    </figure>

                                    <dialog class="modal js-modal">
                                        <figure>
                                            <div class="content-img">
                                                <img src="assets/images/webjam-team-member.png" alt="Design de la page de chaque membre de l'équipe" />
                                            </div>
                                            <figcaption>Design de la page de chaque membre de l'équipe</figcaption>
                                        </figure>

                                        <button class="btn-close js-close">
                                            <span></span>
                                            <span></span>
                                        </button>
                                    </dialog>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="content-media" data-component="Modal">
                                    <figure>
                                        <div class="content-img js-open">
                                            <img src="assets/images/webjam-acf.png" alt="Création de la plupart des champs ACF" />
                                        </div>
                                        <figcaption>Création de la plupart des champs ACF</figcaption>
                                    </figure>

                                    <dialog class="modal js-modal">
                                        <figure>
                                            <div class="content-img">
                                                <img src="assets/images/webjam-acf.png" alt="Création de la plupart des champs ACF" />
                                            </div>
                                            <figcaption>Champs ACF pour le CPT « Équipe »</figcaption>
                                        </figure>

                                        <button class="btn-close js-close">
                                            <span></span>
                                            <span></span>
                                        </button>
                                    </dialog>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="content-media" data-component="Modal">
                                    <figure>
                                        <div class="content-img js-open">
                                            <img src="assets/images/webjam-cpt.png" alt="Remplissage de la plupart des CPT dans l'admin WordPress" />
                                        </div>
                                        <figcaption>Remplissage de la plupart des CPT dans l'admin WordPress</figcaption>
                                    </figure>

                                    <dialog class="modal js-modal">
                                        <figure>
                                            <div class="content-img">
                                                <img src="assets/images/webjam-cpt.png" alt="Remplissage de la plupart des CPT dans l'admin WordPress" />
                                            </div>
                                            <figcaption>Remplissage du CPT d'un équipier dans l'admin WordPress</figcaption>
                                        </figure>

                                        <button class="btn-close js-close">
                                            <span></span>
                                            <span></span>
                                        </button>
                                    </dialog>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="content-media" data-component="Modal">
                                    <figure>
                                        <div class="content-img js-open">
                                            <img src="assets/images/webjam-single-equipier.png" alt="PHP de la page « single-equipier.php »" />
                                        </div>
                                        <figcaption>PHP de la page « single-equipier.php »</figcaption>
                                    </figure>

                                    <dialog class="modal js-modal">
                                        <figure>
                                            <div class="content-img">
                                                <img src="assets/images/webjam-single-equipier.png" alt="PHP de la page « single-equipier.php »" />
                                            </div>
                                            <figcaption>PHP de la page « single-equipier.php »</figcaption>
                                        </figure>

                                        <button class="btn-close js-close">
                                            <span></span>
                                            <span></span>
                                        </button>
                                    </dialog>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="content-media" data-component="Modal">
                                    <figure>
                                        <div class="content-img js-open">
                                            <img src="assets/images/webjam-template-equipe.png" alt="PHP de la page « template-equipeOrion.php »" />
                                        </div>
                                        <figcaption>PHP de la page « template-equipeOrion.php »</figcaption>
                                    </figure>

                                    <dialog class="modal js-modal">
                                        <figure>
                                            <div class="content-img">
                                                <img src="assets/images/webjam-template-equipe.png" alt="PHP de la page « template-equipeOrion.php »" />
                                            </div>
                                            <figcaption>PHP de la page « template-equipeOrion.php »</figcaption>
                                        </figure>

                                        <button class="btn-close js-close">
                                            <span></span>
                                            <span></span>
                                        </button>
                                    </dialog>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>

            <div class="content-right">
                <div class="content-media" data-component="Modal">
                    <figure>
                        <div class="content-img js-open" data-scrolly="fromLeft">
                            <img src="assets/images/webjam-marmeladeurs.jpg" alt="Les Marmeladeurs avec leur mention honorable" />
                        </div>
                        <figcaption data-scrolly="fromLeft">
                            <em>Les Marmeladeurs</em>
                            avec leur mention honorable
                        </figcaption>
                    </figure>

                    <dialog class="modal js-modal">
                        <figure>
                            <div class="content-img">
                                <img src="assets/images/webjam-marmeladeurs.jpg" alt="Les Marmeladeurs avec leur mention honorable" />
                            </div>
                            <figcaption>
                                <em>Les Marmeladeurs</em>
                                avec leur mention honorable
                            </figcaption>
                        </figure>

                        <button class="btn-close js-close">
                            <span></span>
                            <span></span>
                        </button>
                    </dialog>
                </div>

                <div class="content-text">
                    <h2 data-scrolly="fromRight">Mention honorable</h2>

                    <p data-scrolly="fromRight">
                        Suite au
                        <strong><em>webjam,</em></strong>
                        il y a eu une
                        <strong>remise de prix.</strong>
                        <strong>Mon équipe et moi</strong>
                        avons réussi à
                        <strong>obtenir</strong>
                        une
                        <strong>mention honorable.</strong>
                        Notre
                        <strong>site</strong>
                        a su
                        <strong>captiver l'attention</strong>
                        des
                        <strong>juges</strong>
                        et notre
                        <strong>travail</strong>
                        méritais d'être
                        <strong>souligné</strong>
                        même sans remporter les plus grands honneurs.
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>

{% include '_partials/_footer.html' %}
